* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

/* Start Page */
#startPge {
    display: grid;
    place-items: center;
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
#htp h3{
    width: 90vw;
    text-align: justify;
}
#htp h4 span{
    color: green;
    text-decoration: underline;

}
#startPge div {
    display: grid;
    place-items: center;
}

#btnStart {
    width: 150px;
    height: 70px;
}

.strtpgAnim {
    animation: startgoTop 2s ease-in 1s 1;
}

@keyframes startgoTop {
    0% {
        position: absolute;
        bottom: 0px;
    }

    100% {
        position: absolute;
        bottom: 100vh;
        opacity: 0;
    }
}


/* Start Page end */


#container {
    height: 100vh;
    display: grid;
    place-items: center;
}

#btnContn {
    margin-bottom: 20vh;
}

#container h1 {
    text-align: center;
}

#btnContn button {
    margin: 10px;
    width: 200px;
    height: 120px;
    box-shadow: 5px 5px gray;
    font-size: larger;
}

#red {
    background-color: rgb(218, 93, 93);
}

#green {
    background-color: rgb(90, 224, 90);
}

#blue {
    background-color: rgb(124, 124, 207);
}

#yellow {
    background-color: rgb(204, 204, 92);
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinkAnim {
    animation: blink 0.7s ease-in;
}
.onclik{
    animation: onclik 0.1s ease-out;
}
@keyframes onclik {
    0% {
        width: 200px;
        height: 120px;
    }

    100% {
        margin: 20px;
        width: 180px;
        height: 100px;
    }
}


#resetPge {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

#resetPge button {
    margin: 10px;
    width: 120px;
    height: 60px;
    font-size: larger;
}
